

 #captcha{
border-style:solid;
border:width: 1px;
	margin-bottom: 5px;
}

body
{
	font-family:Arial, Sans-Serif;
	font-size:0.85em;
}
img
{
	border:none;
}
ul, ul li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li.first
{
	border-top: 1px solid #DFDFDF;
}
ul li.last
{
	border: none;
}
ul p
{
	float: left;
	margin: 0;
	width: 310px;
}


#validEmail, #validPass, #validPassConf
{

	margin-left: 9px;
	position: absolute;
	width: 16px;
	height: 16px;
	display:inline;
}


ul h3
{
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 0;
	width: 200px;
	margin-left:20px;
}
ul li
{
	border-bottom: 1px solid #DFDFDF;
	padding: 15px 0;
	width:600px;
	overflow:hidden;
}
ul input[type="text"], ul input[type="password"]
{
	width:300px;
	padding:5px;
	position:relative;
	border:solid 1px #666;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
ul input.required
{
	border: solid 1px #f00;
}

a:link {text-decoration: none; color:blue;}
a:visited {text-decoration: none; color:blue;}
a:active {text-decoration: none}
a:hover {text-decoration: underline overline; color: red;}